<h1>Welcome to My Cryptocurrency Portfolio app!</h1>
<br><br/>

<% if user_signed_in? %>
    <h4>Popular Cryptocurrencies</h4>
<% else %>
    <p>Please Sign up or Log in to get started.</p>
<% end %>

<br/><br/>

<% @coins %>

<% for x in @coins['data'] %>
 <% for coin in @my_coins %>
     <% if coin == x['symbol'] %>
         <%= x['name'] %>: $<%= x['quote']['USD']['price'] %><br /><br />
     <% end %>
 <% end %>
<% end %>
