<br><h1>New Crypto</h1><br>
<p>Enter the relevant information about your latest cryptocurrency purchase.</p>
<br>
<%= render 'form', crypto: @crypto %>
<br>
<%= link_to 'Back', cryptos_path, class: "btn btn-outline-secondary" %>
